/*

@@@@@ TABLE OF CONTENTS @@@@@

To navigate, simply ctrl+F to the section

1. SETUP - normalize, clearfix, border-box, visuallyHidden
2. GENERAL - styles shared across more than one of the content blocks below
3. TOGGLES - class styles for toggling
3. HEADER
4. MAIN
    a. FEATURED POST
    b. LATEST COLLECTION
    c. SUB NAV
5. FOOTER
X. BREAKPOINTS

*/


/* ===== SETUP ===== */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}



/* ===== GENERAL ===== */

html {
    /* CSS variables */
    --primary-color: #815600;
    --secondary-color: #500801;
    --button-color: #1d0303;
    --text-color: white;
    --heading-font: "Petit Formal Script", cursive, sans-serif;
    --info-font: "Roboto", sans-serif;
    
    /* Base font set to 20px (for most browsers) */
    font-size: 125%;
    
    /* Base colours for all content blocks (might get overridden) */
    color: var(--text-color);
    background-color: var(--primary-color);
}

/* Every other section will be given a red background colour */
/* Creates alternating background colours when combined with base above */
main > *:nth-child(odd) { background-color: var(--secondary-color); }

/* Every section gets top and bottom padding for breathing room */
header, main > *, footer > * { padding: 35px 0; }

/* Shared properties across all headings and buttons */
h1,h2,h3,h4,h5,h6,button {
    font-family: var(--heading-font);
    font-weight: 400;
}
/* Unique properties to each heading and button */
h1 {
    font-size: 2.5rem;
    line-height: 2.62rem;
}
h2 {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 1.57rem;
    text-align: center;
}
h3 { font-size: 1.25rem; }
button {
    padding: 5px 20px;
    color: var(--text-color);
    background-color: var(--button-color);
    border: none;
    font-size: 1rem;
    line-height: 1.2rem;

    /* Centers buttons */
    display: block;
    margin: 0 auto;
}

/* Shared properties for li and p elements */
li, p, label {
    font-family: var(--info-font);
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.2rem;
}
p { letter-spacing: 2px; } 

/* Keeps images within their containers but fills them up */
img {
    width: 100%;
}

/* Removes bullet points */
ul {
    list-style-type: none;
    padding: 0;
}

i { font-size: 2rem; }


/* ===== TOGGLES ===== */

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.mobile-only { display: block; }
.tablet-only { display: none; }
.desktop-only { display: none; }


/* ===== HEADER ===== */

header { padding-top: 5px; } /* special case: overrides padding in GENERAL */

.sandwich-icon {
    margin-bottom: 10px;
    float: right;
}

.hero-container { clear: both; }

h1 {
    float: right;
    position: relative;
    right: -5px; /* This helps make h1 more flush with wrapper edge on right side */
    margin: 0 0 10px;
    max-width: 15rem; /* tight width forces title to take up 2 lines */
    text-align: right;
}

.hero-container img {
    position: relative;
    left: -15%;
    width: 100%;
}



/* ===== MAIN ===== */

/* ##### MAIN: FEATURED POST ##### */

.featured-post h2 {
    margin-top: 25px;
}

.featured-post img {
    object-fit: cover;
    object-position: top left;
    height: 250px;
}


/* ##### MAIN: LATEST COLLECTION ##### */

.latest-collection li:nth-child(2) { display: none; } /* Hides 2nd image */

.latest-collection li:first-child, .latest-collection li:last-child { width: calc(50% - 5px); }

.latest-collection li:first-child {
    float: right;
    margin-left: 10px;
}
.latest-collection li:last-child {
    float: left;
}

/* Removes empty space at bottom of container */
.latest-collection img { display: block; }


/* ##### MAIN: SUB NAV ##### */

.sub-nav { text-align: center; }

.sub-nav h3 { margin: 25px 0; }

/* Removes margin to match spacing at top of container */
/* .sub-nav-item:last-child h3 { margin-bottom: 0; } */


/* ##### MAIN: SECONDARY POSTS ##### */

.secondary-posts {
    padding: 0;
}

.secondary-post-content {
    padding: 35px 0;
}

.secondary-post img {
    object-fit: cover;
    /* object-position: center; */
    height: 200px;
}



/* ===== FOOTER ===== */

footer { text-align: center; }
.footer-content { background-color: var(--secondary-color); }
footer p { margin: 0; letter-spacing: 0; }

.footer-nav { margin: 0 0 35px; }
.footer-nav li {
    width: 25%;
    float: left;
    font-weight: 400;
}

.subscribe-form input, .subscribe-form button { margin-top: 10px; }
.subscribe-form input {
    width: 100%;
    padding: 5px 0;
    border-radius: 0;
    border: none;
    text-align: center;
}

.contact-info h3 { margin-bottom: 0; }

.copyright {
    background-color: var(--button-color);
    padding: 10px 0;
}
.copyright p { margin: 0; }






/* ===== BREAKPOINTS ===== */

@media screen and (min-width: 769px) {
    .mobile-only { display: none; }
    .tablet-only { display: block; }
    .desktop-only { display: block; }

    /* HEADER BREAKPOINT */
    header { position: relative; }
    .hero-title, .hero-container img {
        float: left;
        width: calc(50% - 40px);
    }
    .hero-container h1 {
        margin-top: 5rem;
    }
    .hero-container img {
        position: static;
        margin-left: 80px;
    }

    .main-nav { width: 40%; }
    .main-nav li {
        float: left;
        width: 25%;
    }
    
    .social-media-icons {
        position: absolute;
        bottom: 0;
        right: 1.5rem;
        text-align: center;
    }
    .social-media-icons i {
        padding-top: 5px;
        font-size: 1rem;
    }

    /* LATEST COLLECTIONS BREAKPOINT */
    .latest-collection li:nth-child(1n) /* Targets all children */ {
        display: block;
        float: left;
        width: calc(33% - 14px);
    }
    .latest-collection li:first-child { margin: 0; }
    .latest-collection li:not(:first-child) { margin-left: 21px; }

    /* SUB NAV BREAKPOINT */
    .sub-nav li {
        float: left;
        width: calc(100% / 3);
    }

    /* FOOTER NAV BREAKPOINT */
    .footer-nav ul { margin-top: 0; }
    .footer-nav li {
        float: none;
        width: 100%;
    }
    .subscribe-form input { width: 70%; }
}

@media screen and (min-width: 940px) {
    .desktop-only { display: block; }
    .wrapper { width: 80%; }
    
    /* HEADER BREAKPOINT */
    .hero-container h1, .hero-container img {
        float: left;
    }
}

/* DELETE BELOW LATER */

main > *:nth-child(n+6) {
    display: none;
}