/*

@@@@@ TABLE OF CONTENTS @@@@@

To navigate, simply ctrl+F to the section

1. SETUP - normalize, clearfix, border-box, visuallyHidden
2. GENERAL - styles shared across more than one of the content blocks below
3. TOGGLES - class styles for toggling
3. HEADER
4. MAIN
    a. FEATURED POST
    b. ???
X. BREAKPOINTS

*/


/* ===== SETUP ===== */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}



/* ===== GENERAL ===== */

html {
    /* CSS variables */
    --primary-color: #815600;
    --secondary-color: #500801;
    --button-color: #1d0303;
    --text-color: white;
    --heading-font: "Petit Formal Script", cursive, sans-serif;
    --info-font: "Roboto", sans-serif;
    
    /* Base colours for all content blocks (might get overridden) */
    color: var(--text-color);
    background-color: var(--primary-color);
    
    /* Base font set to 20px (for most browsers) */
    font-size: 125%;
}

header, main > * { padding: 20px 0; }

/* Creates alternating background colours */
main > *:nth-child(even) { background-color: var(--primary-color); }
main > *:nth-child(odd) { background-color: var(--secondary-color); }


h1,h2,h3,h4,h5,h6,button {
    font-family: var(--heading-font);
    font-weight: 400;
}
h1 { font-size: 2.5rem; }
h2 {
    font-size: 1.5rem;
    text-align: center;
}

li, p { font-family: var(--info-font); }
p {
    font-weight: 300;
    line-height: 1.2rem;
}

img {
    max-width: 100%;
}

button {
    padding: 5px 10px;
    color: var(--text-color);
    background-color: var(--button-color);
    border: none;
}



/* ===== TOGGLES ===== */

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: block;
}



/* ===== HEADER ===== */

header { padding-top: 10px; } /* special case: overrides padding in GENERAL */

.sandwich-icon {
    margin-bottom: 10px;
    float: right;
    font-size: 2rem;
    font-weight: 400;
}

.hero-container { clear: both; }

h1 {
    position: relative;
    right: -5px; /* This helps make h1 more flush with wrapper right edge */
    margin-top: 0;
    margin-bottom: 10px;
    text-align: right;
    max-width: 15rem;
    float: right;
}

.hero-container img {
    /* display: block; */
    /* clear: both; */
    position: relative;
    left: -15%;
    width: 100%;
    max-width: 20rem; /* or 500px */
}

/* ===== MAIN ===== */

/* ##### MAIN: FEATURED POST ##### */

.featured-post img {
    margin-top: 30px;
    width: 100%;
}


/* ===== BREAKPOINTS ===== */

@media screen and (min-width: 940px) {
    .mobile-only { display: none; }
    .desktop-only { display: block; }
    
    /* HEADER BREAKPOINT */
    .hero-container h1, .hero-container img {
        float: left;
    }
    .hero-container h1 {
        font-size: 4.5rem;
        width: 50%;
        position: relative;
        top: 30%;
    }
    .hero-container img {
        left: 0;
        width: 50%;
        max-width: 50%;
    }
}

/* DELETE BELOW LATER */

main > *:not(:first-child), footer {
    display: none;
}