/*

@@@@@ TABLE OF CONTENTS @@@@@

To navigate, simply ctrl+F to the section

1. SETUP - normalize, clearfix, border-box, visuallyHidden
2. GENERAL - styles shared across more than one of the content blocks below
3. TOGGLES - class styles for toggling
3. HEADER
4. MAIN
    a. FEATURED POST
    b. LATEST COLLECTION
    c. SUB NAV
    d. SECONDARY POSTS
5. FOOTER
6. BREAKPOINTS
    a. 768px BREAKPOINT - tablets and up
    b. 940px BREAKPOINT - small desktops
    c. 1280px BREAKPOINT - full desktops

*/


/* ===== SETUP ===== */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}



/* ===== GENERAL ===== */

html {
    /* CSS variables */
    --primary-color: #815600;
    --secondary-color: #500801;
    --button-color: #1d0303;
    --text-color: white;
    --heading-font: "Petit Formal Script", cursive, sans-serif;
    --info-font: "Roboto", sans-serif;
    
    /* Base font set to 20px (for most browsers) */
    font-size: 125%;
    
    /* Base colours for all content blocks (might get overridden) */
    color: var(--text-color);
    background-color: var(--primary-color);

    /* Necessary to hide elements in .mobile-only and .tablets-and-up classes */
    /* (see below) */
    overflow-x: hidden;
}

/* Every other section will be given a red background colour */
/* Creates alternating background colours when combined with base above */
main > *:nth-child(odd) { background-color: var(--secondary-color); }

/* Every section gets top and bottom padding for breathing room */
header, main > *, footer > * { padding: 1.75rem 0; }

/* Shared properties across all headings and buttons */
h1,h2,h3,h4,h5,h6,button {
    font-family: var(--heading-font);
    font-weight: 400;
}
/* Unique properties to each heading and button */
h1 {
    font-size: 2.5rem;
    line-height: 2.62rem;
}
h2 {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 1.57rem;
    text-align: center;
}
h3 { font-size: 1.25rem; }
button {
    padding: 0.25rem 1rem;
    color: var(--text-color);
    background-color: var(--button-color);
    border: none;
    font-size: 1rem;
    line-height: 1.2rem;

    /* Centers buttons */
    display: block;
    margin: 0 auto;
}

/* Shared properties for li, p, and label elements */
li, p, label {
    font-family: var(--info-font);
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.2rem;
}
p {
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
label { display: block; }

/* Keeps images within their containers but fills them up */
img {
    width: 100%;
}

/* Removes bullet points */
ul {
    list-style-type: none;
    padding: 0;
}

/* Sizing for Font Awesome icons */
i { font-size: 2rem; }


/* ===== TOGGLES ===== */

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.mobile-only { position: static; }
.tablets-and-up {
    position: absolute;
    right: 10000px;
}


/* ===== HEADER ===== */

header { padding-top: 0.5rem; } /* special case: overrides padding in GENERAL */

.sandwich-icon {
    margin-bottom: 0.5rem;
    float: right;
}
.sandwich-icon i {
    font-size: 1.5rem;
}

.hero-container, .hero-title { clear: both; }

h1 {
    float: right;
    position: relative;
    right: -0.25rem; /* This helps make h1 more flush with wrapper edge on right side */
    margin: 0 0 0.5rem;
    max-width: 15rem; /* tight width forces title to take up 2 lines */
    text-align: right;
}

.hero-container img {
    position: relative;
    left: -15%;
    width: 100%;
    max-width: 20rem;
}



/* ===== MAIN ===== */

/* ##### MAIN: FEATURED POST ##### */

.featured-post h2 {
    margin-top: 1.25rem;
}

.featured-image-container {
    overflow: hidden;
    text-align: center;
}

.featured-image-container img {
    width: 150%; 
    height: 60vw;
    object-fit: cover;
    object-position: 0% 30%;
}
/* FOR MY BENEFIT: The use of width: 150%, overflow: hidden for a parent container, and height set to 60vw could be a good point of discussion! */


/* ##### MAIN: LATEST COLLECTION ##### */

.latest-collection li:nth-child(2) { display: none; } /* Hides 2nd image */

.latest-collection li:first-child,
.latest-collection li:last-child { width: calc(50% - 0.25rem); }

.latest-collection li:first-child {
    float: right;
    margin-left: 0.5rem;
}
.latest-collection li:last-child {
    float: left;
}

/* Removes empty space at bottom of container due to whitespace dependency */
.latest-collection img { display: block; }


/* ##### MAIN: SUB NAV ##### */

.sub-nav { text-align: center; }

.sub-nav i { font-size: 2rem; }
.sub-nav h3 { margin: 1.25rem 0; }


/* ##### MAIN: SECONDARY POSTS ##### */

.secondary-posts {
    padding: 0;
}

.secondary-post img {
    object-fit: cover;
    object-position: center;
    height: 11rem;
}

.secondary-post-content {
    padding: 1.75rem 0;
}



/* ===== FOOTER ===== */

footer { text-align: center; }
.footer-content { background-color: var(--secondary-color); }
.footer-content p {
    margin: 0;
    letter-spacing: 0;
}

.footer-nav { margin: 0 0 1.75rem; }
.footer-nav li {
    width: 25%;
    float: left;
    font-weight: 400;
}

.subscribe-form input, .subscribe-form button { margin-top: 0.5rem; }
.subscribe-form input {
    width: 100%;
    padding: 0.25rem 0;
    border-radius: 0;
    border: none;
    text-align: center;
}

.contact-info h3 { margin-bottom: 0; }

.copyright {
    background-color: var(--button-color);
    padding: 0.5rem 0;
}
.copyright p { margin: 0; }






/* ===== BREAKPOINTS ===== */

/* ##### BREAKPOINTS: TABLETS & UP ##### */
@media screen and (min-width: 768px) {
    /* HIDE MOBILE ELEMENTS & DISPLAY TABLET + DESKTOP ELEMENTS */
    .mobile-only {
        position: absolute;
        left: 10000px;
    }
    .tablets-and-up { position: static; }

    /* HEADER BREAKPOINT */
    header { position: relative; }
    
    .hero-title, .hero-container img {
        float: left;
        width: calc(50% - 40px);
    }
    h1 { margin-top: 6rem; }
    .hero-container img {
        position: static;
        margin-left: 80px;
        max-width: calc(50% - 40px); /* Overrides max-width set above */
    }

    .main-nav { width: 40%; }
    .main-nav li {
        float: left;
        width: 25%;
    }
    
    .social-media-icons {
        position: absolute;
        bottom: 0;
        right: 1.5rem;
        text-align: center;
    }
    .social-media-icons i {
        padding-top: 0.25rem;
        font-size: 1rem;
    }

    /* FEATURED POST BREAKPOINT */
    .featured-image-container img {
        width: 50%;
        height: auto;
    }

    /* LATEST COLLECTIONS BREAKPOINT */
    
    /* This selector was required because it's the only one specific enough */
    /* to override the selectors above */
    .latest-collection li:nth-child(1n) /* Targets all children */ {
        display: block;
        float: left;
        width: calc(33% - 0.7rem);
    }
    .latest-collection li:first-child { margin: 0; }
    .latest-collection li:not(:first-child) { margin-left: 1.05rem; }

    /* SUB NAV BREAKPOINT */
    .sub-nav li {
        float: left;
        width: calc(100% / 3);
    }

    /* FOOTER NAV BREAKPOINT */
    .footer-nav ul { margin-top: 0; }
    .footer-nav li {
        float: none;
        width: 100%;
    }
    .subscribe-form input { width: 70%; }
}


/* ##### BREAKPOINTS: SMALL DESKTOPS ##### */
@media screen and (min-width: 940px) {
    /* FONT RESIZING */
    html { font-size: 150%; }
    p, li, label {
        font-size: 0.65rem;
        line-height: 1rem;
    }
    .social-media-icons i { font-size: 0.8rem; }

    /* SECTION PADDING INCREASE */
    header, main > *, footer > * { padding: 2.5rem 0; }
    header { padding-top: 0.25rem; } /* This exception is a decrease */

    /* LEFT ALIGNS ALL BUTTONS */
    button { margin: 0; }

    /* FEATURED POST BREAKPOINT */
    .featured-image-container, .featured-post-content { float: left; }
    .featured-image-container img {
        width: 250px;
        height: 250px;
    }
    .featured-post-content {
        width: calc(100% - 1rem - 250px); /* Formula for taking up remaining width */
        margin-left: 1rem;
    }
    .featured-post-content h2 {
        text-align: left;
        margin-top: 0;
    }

    /* SECONDARY POSTS BREAKPOINT */
    .secondary-post { clear: both; }

    /* FOR MY BENEFIT: */
    /* The even and odd pseudo-selectors allow me to dynamically add more posts, */
    /* and the alternating image position continues */
    .secondary-post:nth-child(even) > * {
        float: left;
        width: 50%;
    }
    .secondary-post:nth-child(odd) > * { width: 50%; }
    .secondary-post:nth-child(odd) > *:first-child { float: right; }
    .secondary-post:nth-child(odd) > *:last-child { float: left; }

    .secondary-post-content { padding: 4% 0 0; }
    .secondary-post-content .wrapper { width: 70%; } /* Unique wrapper width */

    .secondary-post img {
        object-fit: contain;
        height: auto;
    }

    /* FOOTER BREAKPOINT */
    .footer-nav, .subscribe-form, .contact-info { float: left; }
    .subscribe-form, .contact-info { margin-left: 0.75rem; }

    .footer-nav {
        margin: 2.6rem 0 0;
        width: calc(25% - 0.5rem);
        text-align: left;
    }
    .subscribe-form { width: calc(50% - 0.5rem); }    
    .subscribe-form input { float: left; width: 60%; }
    .subscribe-form button { float: left; }
    
    .contact-info {
        margin-top: 0.5rem;
        width: calc(25% - 0.5rem);
        text-align: right;
    }
    
}

/* ##### BREAKPOINTS: FULL DESKTOPS ##### */
@media screen and (min-width: 1280px) {
    /* TIGHTER WRAPPER */
    .wrapper { width: 80%; }

    /* FONT RESIZING */
    html { font-size: 175%; }
    p, li, label {
        font-size: 0.55rem;
        line-height: 0.8rem;
    }
    .social-media-icons i { font-size: 0.6rem; }

    /* SECONDARY POSTS BREAKPOINT */
    .secondary-post-content { padding: 8% 0 0; }
}